.withripple {
    position: relative;
}
.ripple-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 2px;
}
.ripple {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
    border-radius: 100%;
    background-color: rgba(0,0,0,0.05);
    transform: scale(1);
    transform-origin: 50%;
    opacity: 0;
    pointer-events: none;
}
.ripple.ripple-on {
    transition: opacity 0.15s ease-in 0s, transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
    opacity: 1;
}
.ripple.ripple-out {
    transition: opacity 0.1s linear 0s !important;
    opacity: 0;
}

@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 100;
  src: local('RobotoDraft Thin'), local('RobotoDraft-Thin'), url(https://fonts.gstatic.com/s/robotodraft/v2/hope9NW9iJ5hh8P5PM_EA2zZpt1Zv2lgqhgSPQ2HnUo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

// Material Theme 0.0.1
// -----------------------------------------------------

@import "_variables.scss";
@import "_mixins.scss";
@import "_shadows.scss";
@import "_icons-material-design.scss";

body {
    background-color: #EEEEEE;
    &.inverse {
        background: #333333;
        &, .form-control {
            color: $darkbg-text;
        }
    }
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

// Well and Jumbotrons
@import "_welljumbo.scss";

// Buttons
@import "_buttons.scss";

// Checkboxes
@import "_checkboxes.scss";

// Radios
@import "_radios.scss";

// Text inputs
@import "_inputs.scss";

legend {
    border-bottom: 0;
}

.modal-content {
    @extend .shadow-z-2;
    border-radius: 0;
    border: 0;
    .modal-header {
        border-bottom: 0;
    }
    .modal-footer {
        border-top: 0;
        .btn+.btn {
            margin-bottom: 10px;
        }
    }
}

// Lists
@import "_lists.scss";

// Navbar
@import "_navbar.scss";

.dropdown-menu {
    border: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    .divider {
        background-color: rgba(229, 229, 229, 0.12);
    }
    li {
        overflow: hidden;
        position: relative;
        a:hover {
            background: rgba(0,0,0,0.08);
        }
    }
}

// Alerts
@import "_alerts.scss";

// Progress bar
@import "_progress.scss";

// Panels
@import "_cards.scss";

// Typography
.text-warning {
    color: $btn-warning;
}
.text-primary {
    color: $btn-primary;
}
.text-danger {
    color: $btn-danger;
}
.text-success {
    color: $btn-success;
}
.text-info {
    color: $btn-info;
}

@import "_tabs.scss";

@import "_popups.scss";

@import "_icons.scss";


// External plugins
@import "_plugin-snackbarjs.scss";
@import "_plugin-nouislider.scss";
